<ion-view title="Contact Us">
  <ion-nav-buttons side="left" class="has-header ">
    <a class="button icon-left ion-navicon-round button-clear button-dark lefts" ui-sref="dashboard"></a>
  </ion-nav-buttons>
  <ion-content padding="true" style="background:url('img/x1r3cx8zT6OzlZ9o0ikC_login.png');background-size: cover; background-Repeat: no-repeat;">
    <ion-card>
      <div class="address">
        <h3 style="align:center;margin-top: 20px;">EDUMOTION TUTORIALS </h3>
        <img src="img/logo_shri.png" alt="EDUMOTION TUTORIALS" style="height: 16em;">
        <br><br><br>
        <h4>ADDRESS</h4>
        <h5>  Workshop to Bhagyanagar Road<br>
        Above SBH Bank, Ashok Nagar,<br>
        Nanded<br><br>
        Contact No.: 02462-262277<br>
        Email : edumotioniit@gmail.com<br>
        Website: www.edumotiontutorials.in
        </h5>
      </div>
    </ion-card>


</ion-view>
