<ion-view title="Dashboard" id="page1">
  <ion-nav-buttons side="right" class="has-header">
  </ion-nav-buttons>
  <ion-content padding="true"  style="background: #348aa9 no-repeat center;background-size:cover;" class="has-header">
    <!-- <div class="spacer" style="width: 300px;"></div> -->
    <div>
      <div class="row">
        <div class="col Dash_1 animated bounceInLeft">
          <center><img src="img/start.png" ui-sref="select_test" height="100"; class="img-margine"></center>
          <h6 class="heading" ui-sref="select_test" style="text-align:center; color:#115390;font-size: 19px;">Start Test</h6>
        </div>
        <div class="col Dash_2 animated bounceInRight">
          <center>    <img src="img/result.png" ui-sref="view_result" height="100"; class="img-margine"></center>
          <h6 class="heading" ui-sref="view_result" style="text-align:center; color:#115390;font-size: 19px;">View Result</h6>
        </div>
      </div>
      <div class="row">
        <div class="col Dash_1 animated bounceInLeft">
          <center><img src="img/practice.png" ui-sref="practice_test"  height="100"; class="img-margine"></center>
          <h6 class="title" ui-sref="practice_test" style="text-align:center; color:#115390;font-size: 19px;">Practice Test</h6>
        </div>
        <div class="col Dash_2 animated bounceInRight">
          <center><img src="img/profile.png" ui-sref="user_profile" height="100"; class="img-margine" ></center>
          <h6 class="title" ui-sref="user_profile" style="text-align:center; color:#115390;font-size: 19px;">Profile</h6>
        </div>
      </div>
      <div class="row">
        <div class="col Dash_1 animated bounceInLeft">
          <center><img src="img/contact.png" ui-sref="contactUs" height="100"; class="img-margine"></center>
          <h6 class="title" ui-sref="contactUs" style="text-align:center; color:#115390;font-size: 19px;">Contact Us</h6>
        </div>
        <div class="col Dash_2 animated bounceInRight">
          <center><img src="img/log.png" ui-sref="login" height="100"; class="img-margine" ></center>
          <h6 class="title" ui-sref="login" style="text-align:center; color:#115390;font-size: 19px;">Log Out</h6>
        </div>
      </div>
    </div>
    <div id="dashboard-container1" class="col creator-container"></div>
  </ion-content>
</ion-view>
