<ion-view title="Exam Instruction" id="page1" >
  <ion-nav-buttons side="left" class="has-header padding_left">
    <a class="button icon-left ion-chevron-left button-clear button-dark lefts" ui-sref="dashboard"></a>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: #348aa9 no-repeat center;background-size:cover;" class="has-header">
    <div>
      <div class="row">
        <div class="col middle">
          <div class="row">
            <div class="col middle_1">
              <ion-card>
                <div class="list list-inset" >
                  <div class="item item-icon-left ">
                    <i class="icon ion-android-arrow-dropright"></i>
                    <h3>This test can be taken at any time</h3>
                  </div>
                  <div class="item item-icon-left ">
                    <i class="icon ion-android-arrow-dropright"></i>
                    <span class="text-note">
                      <h3>You have 3 hours time to complete this test</h3>
                    </span>
                    <br>
                  </div>
                  <div class="item item-icon-left ">
                    <i class="icon ion-android-arrow-dropright"></i>
                    <span class="">
                      <h3>You can modify your answer any number of times while the test is in progres.</h3>
                    </span>
                    <br>
                  </div>
                  <div class="item item-icon-left ">
                    <i class="icon ion-android-arrow-dropright"></i>
                    <span class="">
                      <h3>You can modify your answer any number of times while the test is in progres.</h3>
                    </span>
                    <br>
                  </div>
                  <div class="item item-icon-left ">
                    <i class="icon ion-android-arrow-dropright"></i>
                    <span class="">
                      <h3>You can modify your answer any number of times while the test is in progres.</h3>
                    </span>
                    <br>
                  </div>
                  <div class="item item-icon-left ">
                    <i class="icon ion-android-arrow-dropright"></i>
                    <span class="text-note">
                      <h3>To submit the test click the submit button,once you have clicked the submit button the answer can not be changed.</h3>
                    </span>
                    <br>
                  </div>
                </div>
                <center><button class="button button-outline  button-positive col updated" ion-button clear ui-sref="exam">
                  Start Exams
                  </button>
                </center>
              </ion-card>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="dashboard-container1" class="col creator-container"></div>
  </ion-content>
</ion-view>
