<ion-view title="Log in"  hide-nav-bar="true" >
<ion-content padding="true" style="background:url('img/x1r3cx8zT6OzlZ9o0ikC_login.png');background-size: cover; background-Repeat: no-repeat;">
  <ion-card>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <center><img src="img/logo.png" height="100px;"></center>
    <h1 id="login-heading1" style="color:#eb632f;font-weight:bold;text-align:center;" >EDU<span class="changed">MOTION</span></h1>
    <h2 id="login-heading2" style="color:#eb632f;font-weight:600;text-align:center;" class="Head_shadow">Online Exam Portal</h2>
    <div class="spacer" style="height:50px;" ></div>
    <form id="login-form2" class="list" ng-app="app" ng-controller="loginCtrl">
      <div class="spacer" ></div>
      <div class="list ">
        <label class="item item-input " id="login-input1" name="User" >
        <i class="icon ion-person"></i>&nbsp;&nbsp;
        <input type="text" placeholder="User name" ng-model="user">
        </label>
        <br>
        <label class="item item-input " id="login-input2" name="password">
        <i class="icon ion-grid"></i>&nbsp;&nbsp;
        <input type="password" placeholder="Password"  id="password" ng-model="pswd">
        </label>
      </div>
      <button class="button button-positive  button-full" id = "submitButt" ng-click = "insertdata()" class="button button-block log_btn">
      Log in
      </button>
      <div class="alert alert-danger" role="alert" ng-show="errorMsg">{{errorMsg}}</div>
    </form>
    <!-- <a ui-sref="signup" id="login-button2" style="font-weight:300;" class="button button-light  button-block button-clear"> Create An Account</a> -->
    <div class="spacer" style="width: 300px; height: 50px;"></div>

  </ion-card>
</ion-content>
