<ion-view title="Signup" id="page5">
  <ion-content padding="true" style="background: url(img/x1r3cx8zT6OzlZ9o0ikC_login.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <h2 id="signup-heading4" style="color:#FFFFFF;font-weight:600;text-align:center;" class="Head_shadow">Online Exam Portal</h2>
    <h4 id="signup-heading5" style="color:#FFFFFF;text-align:center;">Sign up</h4>
    <form id="signup-form4" class="list">
      <ion-list id="signup-list3">
        <label class="item item-input user_back" id="signup-input4">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
    </form>
    <form id="signup-form7" class="list">
      <label class="item item-input user_back" id="signup-input6">
        <span class="input-label">Password</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <form id="signup-form8" class="list">
      <label class="item item-input user_back" id="signup-input5">
        <span class="input-label">Email</span>
        <input type="email" placeholder="">
      </label>
    </form>
    <a ui-sref="login" id="signup-button3" style="color:#327283;border-radius:50px 50px 50px 50px;" class="button button-stable  button-block log_btn">Sign up</a>
  </ion-content>
</ion-view>